*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:lavenderblush;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.header {
    /* aligns the nav and header so that they are next to each other and have space between them */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* makes the background box a little thicker */
    padding: 30px;

    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    color:white;
}

a {
    text-decoration: none;
    color: white;
}

.header h1 .bernabel {
    /* makes my last name a different color than my first name. */
    color:hotpink;
}

.header nav {
    text-align: right; 
}



.header nav ul {
    /* gets rid of bullet points */
    list-style-type: none;
    
}

.header nav ul li {
    /* makes list items be next to each other */
    display: inline;
    margin-left: 40px;
    text-align: right;
    
}

.backgroundContainer {
        position: relative;
    }

    .backgroundImage {
     /* position:absolute; */
     height: 600px;
     width: auto;
     background-image: url(./Images/comp_sci_bigger\ \(1\).jpg);
     background-size:cover;
     background-position: center;
     z-index: 1;
    }

    .myImage {
        position: absolute;
        top: 80%;
        left:90%;
        transform: translate(-50%, -50%);
        width: 200px;
        height:200px;
        background-image: url(./Images/183277941_4078727712184963_5549505821854141151_n.jpg);
        background-size: cover;
        z-index: 2;
    }
 
/* 
@media screen and (max-width:399px) {
    .backgroundImage {
        height: 600px;
        width:auto;
        background-image: url(./Images/183277941_4078727712184963_5549505821854141151_n.jpg);
        background-size: cover;
        background-position: center;
       }
} */


.main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: inline-block;

    
}

.main article {
    /* background-color: black; */
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.sectionContainer {
    display: flex;
    background-color: black;
    padding:20%;

    /* Adds the pink background between the section containers */
    background-clip: content-box;
    
}

.sectionContainerWork {
    display: flexblock;
    border: 100px;
}

.sectionContainer h1 {
    min-width: 20%;
    /* min-width:20%; */

    margin: 5%;
    padding: 2%;
    border-right: 5px solid hotpink;
    text-align: right;
    
    /* background-color: gray; */
    font-size: 150%;

    /* overflow-wrap: break-word; */

}

.sectionContainer p {
    width: 75%;
    padding: 5%;
}

.main article ul {
    list-style-type: none;
    width: 75%;
    padding: 5%;
    font-size: large;

}

.main article ul li {
    /* makes list items be next to each other */
    display: flex;
    padding-top: 15px;
    padding-right:10%;
    justify-content: space-between;
    align-items: center;
    
}


.imageContainer {
    /* centers text on top of absolute position image */
    position: relative;
    font-size: 100%;
    /* display: inline-block; */
}

.imageContainer h2 {
    background-color: hotpink;
    position: absolute;
    top: 45%;
    left: 5%;
    white-space: nowrap;
}

.imageContainer img {
     height: 100%;
     width: 100%;
     padding: 5%;
     
     
}

.smallerImageContainer {
    /* sets flex to make boxes fit side to side. */
    display: flex;
    /* currently not doing anything */
    position: relative;

    font-size: 70%;
}

/* currently not doing anything */
.smallerImageContainer img {
    height: 100%;
    width: 100%;

    
    object-fit: cover;
    justify-content: space-between;
}

 /* background color and position are inherited from image container settings */
 /* this overwrites textbox location on the image so
  it's higher than the image container set height. */
.smallerImageContainer  h2 {
    top: 15%;
    left: 5%;
} 

/* Makes it so nav bar words and contact me info is not cut off at the whitespace */
.doNotWrap {
    white-space: nowrap;
}