*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:lavenderblush;
}

.header {
    /* aligns the nav and header so that they are next to each other and have space between them */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* makes the background box a little thicker */
    padding: 30px;

    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    color:white;
}

.header h1 .bernabel {
    /* makes my last name a different color than my first name. */
    color:hotpink;
}

/* .header nav {
    /* padding-top: 0px;
    margin-right: 0px;
    float: right; 
}
*/


.header nav ul {
    /* gets rid of bullet points */
    list-style-type: none;
    
}

.header nav ul li {
    /* makes list items be next to each other */
    display: inline;
    margin-left: 40px;
    text-align: right;
    
}

@media screen and (max-width:399px) { 
    .backgroundImage {
     height: 600px;
     width:auto;
     background-image: url(/Images/comp_sci.webp);
     background-size: cover;
     background-position: center;
    }
} 

 @media screen and (min-width:400px) {
    .backgroundImage {
     height: 600px;
     width: auto;
     background-image: url(/Images/comp_sci_bigger.jpg);
     background-size:cover;
     background-position: center;
    }
} 


.main {
    box-sizing: border-box;
    height: 100%;
    width: 78%;
    display: inline-block;
    padding-top: 20px;
}

.main article {
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 20px;
}

.main article ul {
    list-style-type: none;
}

.main article ul li {
    /* makes list items be next to each other */
    display: inline;
    padding: 30px;
    
}

.sideHeaders {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hotpink;
    font-size: x-large;

}

.sideHeaders section {
    margin: 5px;
    padding: 30px;
}