*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:lavenderblush;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.header {
    /* aligns the nav and header so that they are next to each other and have space between them */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* makes the background box a little thicker */
    padding: 30px;

    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    color:white;
}

a {
    text-decoration: none;
    color: white;
}

.header h1 .bernabel {
    /* makes my last name a different color than my first name. */
    color:hotpink;
}

/* .header nav {
    /* padding-top: 0px;
    margin-right: 0px;
    float: right; 
}
*/


.header nav ul {
    /* gets rid of bullet points */
    list-style-type: none;
    
}

.header nav ul li {
    /* makes list items be next to each other */
    display: inline;
    margin-left: 40px;
    text-align: right;
    
}

/* @media screen and (max-width:399px) { 
   
}  */

 @media screen and (min-width:400px) {
    .backgroundContainer {
        position: relative;
    }

    .backgroundImage {
     /* position:absolute; */
     height: 600px;
     width: auto;
     background-image: url(./Images/backgroundImage.jpg);
     background-size:cover;
     background-position: center;
     z-index: 1;
    }

    .myImage {
        position: absolute;
        top: 80%;
        left:90%;
        transform: translate(-50%, -50%);
        width: 200px;
        height:200px;
        background-image: url(./Images/183277941_4078727712184963_5549505821854141151_n.jpg);
        background-size: cover;
        z-index: 2;
    }

} 

@media screen and (max-width:499px) {
    .backgroundImage {
        height: 600px;
        width:auto;
        background-image: url(./Images/183277941_4078727712184963_5549505821854141151_n.jpg);
        background-size: cover;
        background-position: center;
       }
}


.main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: inline-block;

    
}

.main article {
    /* background-color: black; */
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.sectionContainer {
    display: flex;
    background-color: black;
    padding:20%;
    background-clip: content-box;
    
}

.sectionContainerWork {
    display: flexblock;
    border: 100px;
}

.sectionContainer h1 {
    width: 15%;
    margin: 2%;
    border-right: 5px solid hotpink;
    text-align: center;
    padding: 5%;
    white-space:pre-wrap;

}

.sectionContainer p {
    width: 75%;
    padding: 5%;
}

.main article ul {
    list-style-type: none;
    width: 75%;
    padding: 5%;
    font-size: large;

}

.main article ul li {
    /* makes list items be next to each other */
    display: inline-flex;
    padding-top: 30px;
    padding-right:10%;
    
    
}
/* 
.sideHeaders {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    background-color: hotpink;
    font-size: x-large;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;

}

.sideHeaders section {
    margin: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
} */

/* .websiteBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.imageContainer {
    position: relative;
    display: inline-block;
}

.imageContainer h2 {
    background-color: hotpink;
    position: absolute;
    top: 85%;
    left: 75%;
}

.imageContainer img {
     height: 100%;
     width: 100%;
     padding: 5%;
}

.smallerImageContainer {
    display: flex;
    position: relative;
}

.smallerImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* float:left; */
    justify-content: space-between;
    /* padding: 5%; */
}

 
.smallerImageContainer  h2 {
    background-color: hotpink;
    position: absolute;
    top: 50%;
    left: 30%;
} 

.doNotWrap {
    white-space: nowrap;
}